@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

html {
  min-height: 100%;
  position: relative;
}

body, .root {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}
