@font-face {
  font-family: 'FugueRegular';
  src: url('http://strelka.com/css/fonts/strelka-webfont.eot');
  src: url('http://strelka.com/css/fonts/strelka-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://strelka.com/css/fonts/strelka-webfont.woff') format('woff'),
  url('http://strelka.com/css/fonts/strelka-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  position: relative;
}

body, .root {
  min-height: 100%;
  font: normal 26px/36px 'FugueRegular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}
