$phone: "only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)";

.Topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 30px 60px;
  z-index: 15;
  transition: all 1s;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: 40px;

  @media #{$phone} {
    padding: 20px 30px;
    flex-direction: column;
  }

  .hamburger {
    display: none;
    background: url(./hamburger.svg);
    width: 32px;
    height: 32px;
    margin: 0px 9px;

    @media #{$phone} {
      display: inline-block;
    }
  }

  &.toggled {
    .mainAuth, .mainNav {
      height: auto;
    }
  }

  .checkbox {
    display: none;
  }

  .logo {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
  }

  &.hidden {
    transform: translateY(-100%);
  }

  .mainAuth, .mainNav {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media #{$phone} {
      height: 0px;
      overflow: hidden;
      flex-direction: column;
    }
  }

  .link {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    color: #fff;
    padding: 18px 9px;
    @media #{$phone} {
      padding: 9px;
      display: block;
    }
    &:visited {
      color: #fff;
    }
  }

  .register {
    border: 2px solid #2253FF;
  }

  &.tooltip, &.toggled {
    background: #2253FF;
    .register {
      border-color: #fff;
    }
  }
}
