.Cource {
  display: inline-block;
  height: 600px;
  width: 360px;
  position: relative;
  font-size: 26px;
  line-height: 36px;
  overflow: hidden;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
  margin: 0px 30px;
  white-space: normal;
  &:hover {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.3);
    transition: box-shadow 1s ease-in;
    cursor: pointer;
    .text {
      height: 100%;
    }
  }

  .counter {
    position: absolute;
    top: 30px;
    left: 30px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #fff;
    padding: 12px 0px;
    z-index: 2;
  }

  .title {
    height: 100px;
  }

  .description {
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    padding: 30px 60px;
    z-index: 1;
  }

  .text {
    font-size: 18px;
    line-height: 26px;
    color: #777777;
    transition: height 1s ease-in;
    height: 0;
    overflow: hidden;
  }

  .image {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
}

